@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Collegiate+One&family=Roboto:wght@400;900&display=swap');

:root{
  --first-color:#fff;
  --third-color: #333;
  --second-color: rgba(51, 230, 155, 0.822);
  --fuente: 'Roboto', sans-serif;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
/* fuentes */
    font-family: var(--fuente);
}

header{
  height: 100vh;
  width: 100vw;
  background-image: url(../img/header.jpg);
  background-size: cover;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* Texto header */
.titleFamily{
  color: var(--first-color);
  font-family: var(--fuente);
}
.textFamily{
  color: var(--first-color);
  font-family: var(--fuente);
}
/* Menu */
.navbar{
  position: absolute;
  padding: 50px;
  display: flex;
  justify-content: space-between;
  align-self: center;
  width: 100%;
  box-sizing: border-box;
 
}
.navbar a{
  color: var(--first-color);
}
.navbar .logo{
  font-size: 2em;
  font-weight: bold;
  text-decoration: none;
  list-style-type:  none;
}
.navbar .navLinks ul{
  display: flex;
}
.navbar .navLinks ul li{
  margin: 0 25px;  
}
.navbar .navLinks ul li a{
  text-decoration: none;
  list-style-type:  none;
}
.navbar .navLinks ul li.active a{
  color: var(--second-color) ;
  font-weight: 600;
  text-decoration: none;
  list-style-type:  none;
}
.navbar .menuIcon{
  display: none;
}
.navbar .menu-hamburguer{
  display: none;
  position: absolute;
  top: 50px;
  right: 50px;
  width: 35px;
}
/* ---------- Comentarios de la iglesia */
.comment-section {
  display: flex;
  flex-direction: column; /* Cambiamos a columna para diseño móvil */
  justify-content: center;
  align-items: center;
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  margin: 20px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.comment-content {
  display: flex;
  flex-direction: column; /* Cambiamos a columna para diseño móvil */
  align-items: center;
}

.comment-info {
  display: flex;
  align-items: center;
}

.comment-icon {
  font-size: 2em;
  color: var(--second-color);
  margin-right: 15px;
}

.comment-title {
  font-size: 1.2em;
  color: #333;
  margin: 0;
}

.comment-text {
  color: #333;
  text-align: center; /* Centramos el texto */
}

.comment-image {
  width: 200px; /* Ajustamos el tamaño de la imagen */
  height: 200px; /* Ajustamos el tamaño de la imagen */
  overflow: hidden;
  border-radius: 50%;
  border: 2px solid #ddd;
  margin-top: 15px; /* Espacio entre el texto y la imagen */
}

.comment-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.comment-image:hover img {
  transform: scale(1.1);
}

/* --------------------Responsive  */
@media screen and (max-width: 900px) {
  .navbar{
    padding: 0;
  }
  .navbar .logo{
    position: absolute;
    top: 50px;
    left: 20px;
  }
   ul{
    list-style:none;
  }
  .navbar .menuIcon{
    display: block;
    cursor: pointer;
  }
  .navbar .menuIcon i{
    font-size: 1.5em;
    color: var(--first-color);
  }
  .navbar .menu-hamburguer{
    display: block;
  }
  .navLinks{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.349);
    backdrop-filter: blur(8px);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(-100%);
    transition: all 0.5s ease;
  }
  .navLinks.active{
    transform: translate(0);
  }
  .fa-xmark {
    margin-left: 0;
  }
  .navLinks ul{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .navbar .navLinks ul li{
    margin: 25px 0;
    font-size: 1.2rem;
  }
  .menu-hamburguer {
    /* Estilo predeterminado para el ícono de hamburguesa */
    color: var(--first-color);
    transition: color 0.3s ease;
  }
  
  .menu-hamburguer.fa-xmark {
    /* Estilo para el ícono de X (cuando el menú está activo) */
    color: var(--second-color);
  }
  .menu-hamburguer:hover {
    color: var(--second-color); /* Cambia el color cuando el ícono está en estado hover */
  }
}
/* --------------swipper */
.swiper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
 }
 
 .card {
  width: 300px;
  height: 200px;
  padding: 20px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
  margin: 0 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
 }
 
 .card:hover {
  transform: translateY(-10px);
 }
 /* Diseño Responsive del comentario Section */
 @media screen and (max-width: 600px) {
  .comment-section {
    margin: 10px; /* Espacio reducido en dispositivos móviles */
    padding: 10px; /* Espacio reducido en dispositivos móviles */
  }

  .comment-image {
    width: 100%; /* Hacemos que la imagen ocupe el ancho completo */
    height: auto; /* Ajustamos la altura automáticamente */
    margin-top: 10px; /* Espacio reducido en dispositivos móviles */
  }
}