@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Collegiate+One&family=Roboto:wght@400;900&display=swap');

:root{
  --first-color: rgb(255 255 255);
  --second-color: rgba(51, 230, 155, 0.822);
  --third-color: #333;
  --fourth-color: rgba(0, 0, 0, 1);
  --fuente: 'Roboto', sans-serif;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
}
body{
    font-family: var(--fuente);
}

header{
  height: 100vh;
  width: 100vw;
  background-image: url(../img/header.jpg);
  background-size: cover;
  display: flex;
  background-position: center; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  text-align: center; /
}
.bg-container-header{
  background: transparent;
  width: 50%;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color:  rgba(69, 70, 70, 0.82);
  opacity: 2 ;
}
ul{
  list-style-type: none;
}
section{
  padding: 2rem 9%;
}
/* Text header */
.titleFamily{
  top:2px;
  color: var(--first-color);
  font-family: var(--fuente);
  margin: 5px;
}
.textFamily{
  color: var(--first-color);
  font-family: var(--fuente);
}
/* Menu */
.navbar.fixed .menuIcon{
  top: 10px;
  right: 10px;
  border-radius: 50%;
  padding: 10px;
}
.navbar.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 4px 2px rgba(44, 40, 40, 0.1);
  z-index: 1000; 
  background-color: #4444443d;
}
.navbar{
  position: absolute;
  padding:25px;
  display: flex;
  justify-content: space-between;
  align-self: center;
  width: 100%;
  box-sizing: border-box;
  background-color: transparent;
}
.navbar a{
  color: var(--first-color);
}
.navbar .logo{
  font-size: 2em;
  font-weight: bold;
  text-decoration: none;
  list-style-type:  none;
}
.navbar .navLinks{
  display: flex;
  align-items: center;
}
.navbar .navLinks ul{
  display: flex;
  margin-right: 20px;
}
.navbar .navLinks ul li{
  margin: 0 25px;  
}
.navbar .navLinks ul li a{
  text-decoration: none;
  list-style-type:  none;
  position: relative;
  display: inline-block;
  overflow: hidden;
  padding: 5px 10px;
  transition: color 0.3s ease;
}
.navbar .navLinks ul li a::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: -100%;
  width: 200%;
  height: 4px;
  background: linear-gradient(90deg, rgba(51,230,155,0.8), rgba(255,255,255,1), rgba(51,230,155,0.8));
  animation: wave 1.5s linear infinite;
  transition: all 0.3s ease;
  border-radius: 50%;
  opacity: 0;
}
.navbar .navLinks ul li a:hover::before {
  left: 0;
  opacity: 1;
}
.navbar .navLinks ul li.active a{
  font-weight: 600;
  text-decoration: none;
  list-style-type:  none;
}
.navbar .menuIcon{
  display: none;
  cursor: pointer;
  order: -1;
}
.navbar .menu-hamburguer{
  display: block;
  font-size: 1.5em;
  cursor: pointer;
}
/* ---------- Comentarios de la iglesia */
.comment-section {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  margin: 20px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.comment-content {
  display: flex;
  flex-direction: column; 
  align-items: center;
}

.comment-info {
  display: flex;
  align-items: center;
}

.comment-icon {
  font-size: 2em;
  color: var(--second-color);
  margin-right: 15px;
}

.comment-title {
  font-size: 1.2em;
  color: #333;
  margin: 0;
}

.comment-text {
  color: #333;
  text-align: center; 
  margin: 15px;
}
.comment-image {
  width: 200px; 
  height: 200px; 
  overflow: hidden;
  border-radius: 50%;
  border: 2px solid #ddd;
  margin-top: 15px; 
}
.comment-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.comment-image:hover img {
  transform: scale(1.1);
}
/* ---------- Anuncios */

  .card{
    position:relative;
    width: 300px;
    height: 350px;
    transform-style: preserve-3d;
    margin-top: 20px;
  }
  .cards-containers{
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px;
    justify-items: center;
    margin-top: 20px;
  }

  .cards-container .card:nth-child(4),
.cards-container .card:nth-child(5) {
  grid-column: span 1; 
}
  .card .face{
    position:absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
  }

  .card .front{
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000;
  }

  .card .front img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: auto;
  }
  .card .front h3{
    position: absolute;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: var( --first-color);
    background: rgba(0,0,0,.4);
    text-align: center;
  }
  .card .back {
    transform: perspective(600px) rotateY(180deg);
    background: var(--third-color);
    padding: 15px;
    color: var(--second-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px var(--third-color);
    cursor:pointer;
  }
  .card .back h3{
    font-size: 30px;
    margin-top: 20px;
    letter-spacing: 2px;
  }
  .card .back p {
    letter-spacing: 1px;
    border-top: solid 1px var(--first-color);
    margin-top: 2px;
  }

  .card:hover .front{
    transform: perspective(600px) rotateY(180deg);
  }

  .card:hover .back{
    transform: perspective(600px) rotateY(0deg);
  }
/* advertisements //  shepherds/* -----swipper */
 
.swipper{
  width: 100%;
  padding: 150px 0 50px 0;
}
.mySwiper{
  margin: 55px;
}
.swiper-slide{
  width: 300px!important;
  height: 500px;
  border-radius: 5%;
  background-color: var(--first-color);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  padding: 40px;
  text-align: center;
}
.icons{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}
.icons i{
  font-size: 26px;
  color: var(--second-color);
}
.icons img{
  width: 120px;
}
.shepherdsContent{
  display: flex;
  justify-content: space-between;
}
.shepherdsText{
  flex-basis: 50%;
  text-align: left;
  margin: 10px;
  padding: 5px;
}
.shepherdsText h3{
  font-size: 20px;
  margin: 5px;
  text-transform: uppercase;
}
.shepherdsText p{
  font-size: 14px;
}
.shepherdsImg{
  flex-basis: 50%;
  text-align: right;
}
.shepherdsImg img{
  width: 120px;
  border-radius: 50%;
}
/* ---------------- Radio */
.radioHome{
  display: flex;
  gap: 1.5rem;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background: #a3a3a3;
}
.radioHome .contentRadio{
  flex: 1 1 40rem;
  padding-top: 6.5rem;
}
.radioHome .contentRadio .titleRadio{
  font-size: 6rem;
  color: var(--first-color);
  text-transform: uppercase;
}
.radioHome .contentRadio .titleRadio span{
  text-transform: uppercase;
  color: var(--second-color);
}
.radioHome .contentRadio .descriptionRadio{
  font-size: 2rem;
  font-weight: lighter;
  line-height: 1.8;
  padding: 1rem 0;
  color: var(--first-color) ;
}
.radioHome .contentRadio .btnRadio{
  margin-top: 1rem;
  display: inline-block;
  padding: .9rem 3rem;
  font-size: 1.7rem;
  color: var(--first-color);
  background: var(--second-color);
  cursor: pointer;
  border-radius: 15px;
  text-decoration: none;
}
.radioHome .contentRadio .btnRadio:hover{
  background: var(--fourth-color);
}
.radioHome .imageRadio{
  flex: 1 1 40rem;
}
.radioHome .imageRadio img{
  width: 250px;
}
/* ---------------- Form */
.form-bg{
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(0 0 0 / .8), rgba(0 0 0 / .8)), url(../img/escritorio.jpg);
  background-size: cover;
  grid-template-columns: repeat(2,50%);
  padding: 20px;
  gap: 10px;
  width: 100%;
}
.boxInfo{
  color: var(--first-color);
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.boxInfo > h2{
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.data{
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.data > p{
  font-size: 1rem;
}
.data > p > i{
  color: var(--second-color);
  margin-right: 10px;
  font-size: 25px;
}
.linkIconForm{
  color: var(--first-color);
  text-decoration: none;
  font-size: 20px;
  margin-left: 15px;
}
.data > i {
  color: var(--second-color);
  margin-right: 10px;
  font-size: 25px;

}
form{
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 15px;
}
.input-box{
  position: relative;
}
.input-box > input{
  width: 100%;
  height: 40px;
  padding: 0 10px;
  outline: none;
  background: rgba(0 0 0 / .5);
  border: 3px solid transparent;
  letter-spacing: 1px;
  transition: .3s;
  color: var(--first-color);
}
/* click submit */
.input-box > input:focus,
.input-box > textarea:focus {
  border-bottom: 3px solid var(--second-color);
  animation: shake .2s;
}
.input-box > input::placeholder,
.input-box > textarea::placeholder {
  color: #a3a3a3;
}
.input-box > input:focus::placeholder,
.input-box > textarea:focus::placeholder {
  color: transparent;
}
.input-box > textarea {
  width: 100%;
  height: 130px;
  background: rgba(0 0 0 / .5);
  border: 3px solid transparent;
  letter-spacing: 1px;
  transition: .3s;
  color: var(--first-color);
  padding: 10px;
  outline: none;
}
.input-box > i{
  background: rgba(0 0 0 / .5);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  transition: .3s;
}
.input-box > input:focus ~ i {
  color: var(--second-color)
}
form > button{
  background: var(--second-color);
  color: var(--first-color);
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1rem;
  padding: 10px;
  transition: .2s;
}
form > button:hover{
  background: seagreen;
}
/* Retumb */
@keyframes shake{
  0%, 100% {transform: translateX(0);}
  10%, 30%, 50%, 70%, 90%{transform: translateX(-10px);}
  20%, 40%, 60%, 80% {transform: translateX(10px);}
}

@keyframes wave {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}
/* ------------------------ footer */
.container-footer{
  max-width: 1200px;
  margin: 0 auto;
}
.footer{
  background-color: #4444443d ;
  padding: 40px 0;
}
.footerRow{
  display: flex;
  flex-wrap: wrap;
}
.footerLinks{
  width: 25%;
  padding: 0 15px;
}
.footerLinks h5{
  font-size: 20px;
  margin-bottom: 25px;
  font-weight: 500;
  border-bottom: 2px solid var(--second-color);
  padding-bottom: 10px;
  display: inline-block;
}
.footerLinks ul li a{
  font-size: 18px;
  text-decoration: none;
  color: var(--third-color);
  display: block;
  margin-bottom: 15px;
  transition: all .3s ease;
}
.footerLinks ul li a:hover{
  color: var(--second-color);
  padding-left: 6px;
}
.socialLink a{
  display: inline-block;
  min-height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.3);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: var(--second-color);
  transition: all .5s ease;
}
.socialLink a:hover{
  background-color: var(--third-color);
}

/* --------------------Responsive  */
@media screen and (max-width: 900px) {
  section{
    padding: 2rem;
  }
  .navbar{
    padding:20px;
    justify-content: space-between;
  }
  .navbar .logo{
    font-size: 1.5em;
    margin-bottom: 10px;
  }
   ul{
    list-style:none;
  }
  .menuIcon{
    display: none;
  }
  .navbar .menuIcon{
    display: block;
    cursor: pointer;
  }
  .navbar .menuIcon i{
    font-size: 1.5em;
    color: var(--first-color);
  }
  .navbar .menu-hamburguer{
    display: block;
    font-size: 1.5em;
    color: var(--first-color);
    cursor: pointer;
  }
  .navbar.fixed .menu-hamburguer {
    top: 10px;
    right: 10px;
    border-radius: 50%;
    padding: 10px;
  }
  .navLinks{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.349);
    backdrop-filter: blur(8px);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(-100%);
    transition: all 0.5s ease;
  }
  .navLinks.active{
    transform: translate(0);
  }
  .fa-xmark {
    margin-left: 0;
  }
  .navLinks ul{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .navbar .navLinks{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.349);
    backdrop-filter: blur(8px);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(-100%);
    transition: all 0.5s ease;
  }
  .navbar .navLinks ul li{
    margin: 15px 0;
    font-size: 1.2rem;
  }
  .navbar .navLinks.active {
    transform: translate(0);
  }
  .menu-hamburguer {
    display: block;
    font-size: 1.5em;
    color: var(--first-color);
    cursor: pointer;
  }
  .menu-hamburguer.fa-xmark {
    color: var(--second-color);
  }
  .navbar .fa-xmark {
    font-size: 1.5em;
    color: var(--first-color);
    cursor: pointer;
  }
  .menu-hamburguer:hover {
    color: white; 
  }
  .navbar .menu-hamburguer.fa-xmark {
    color: var(--second-color);
  }
  header {
    padding: 20px;
    text-align: center;
  }
  .titleFamily, .textFamily{
    color: var(--first-color);
    font-family: var(--fuente);
    margin-bottom: 10px;
  }
  /* footer */
  .footerRow{
    text-align: center;
  }
  .footerLinks{
    width: 100%;
    margin-bottom: 30px;
  }
}

 /*---------- Diseño Responsive del comentario Section */
 @media screen and (max-width: 768px) {
  .menuIcon {
    display: block;
    cursor: pointer;
  }
  .navLinks {
    display: none; 
  }
  .navLinks.active {
    display: block;
  }
  .cards-containers {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .comment-section {
    margin: 10px; 
    padding: 10px;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    
  }
  .comment-image {
    width: 100%; 
    height: auto; 
    margin-top: 10px; 
  }
  header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .radioHome .contentRadio{
    padding-top: 9.5rem;
  }
  .radioHome .contentRadio .titleRadio{
    font-size: 4rem;
  }
  .radioHome .contentRadio .descriptionRadio{
    font-size: 1.6rem;
  }
  .form-bg{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .boxInfo{
    gap: 15px;
  }
  .boxInfo > h2{
    font-size: 1.5rem;
  }
}